/* section01 */
#section01 {
    width: 100%;
}

/* section02 */
#section02 {
    width: 100%;
    padding: 100px 0;
}

#section02 .s02-inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#section02 .s02-inner .s02-title {
    margin-bottom: 60px;
}

#section02 .s02-inner .s02-title p {
    font-family: 'Cafe24Ssurround', sans-serif;
    color: #d39c5b;
    font-size: 2.3em;
}

#section02 .s02-inner .s02-content {
    
}


#section02 .s02-inner .s02-contents ul {
    overflow: hidden;
    display: inline-block;
}

#section02 .s02-inner .s02-contents ul:first-child {
    margin-bottom: 80px;
}

#section02 .s02-inner .s02-contents .s02-content {
    float: left;
    margin-right: 80px;
}

#section02 .s02-inner .s02-contents li:nth-child(3n) {
    margin-right: 0;
}

#section02 .s02-inner .s02-contents .s02-content figure {
    background: #F4ECE2;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

#section02 .s02-inner .s02-contents .s02-content img {
    position: relative;
    transform: translateY(50%);
}

#section02 .s02-inner .s02-contents .s02-content p {
    transform: translateY(-500%);
    font-family: 'Cafe24Ssurround', sans-serif;
    font-size: 1.3rem;
}

/* section03 */
#section03 {
    width: 100%;
    padding: 100px 0;
    position: relative;
}

#section03 .s03-inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#section03 .s03-inner .s03-title {
    margin-bottom: 60px;
}

#section03 .s03-inner .s03-title p {
    font-family: 'Cafe24Ssurround', sans-serif;
    color: #d39c5b;
    font-size: 2.3em;
}

#section03 .s03-inner .s03-navigator {
    width: 100%;
}

#section03 .s03-inner .s03-navigator .s03-prev {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(50%);
}

#section03 .s03-inner .s03-navigator .s03-next {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(50%);
}

#section03 .s03-inner .s03-contents ul {
    display: flex;
    flex-wrap: nowrap;
}

#section03 .s03-inner .s03-contents ul .s03-content {
    flex: 1;
}


/* section04 */
#section04 {
    width: 100%;
    padding: 100px 0;
}

#section04 .s04-contents {
    width: 100%;
}

#section04 .s04-content {
    height: 400px;
    position: relative;
}

#section04 .s04-contents .s04-background1 {
    background: url('../src/s04-1.jpg') 0 -50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section04 .s04-contents .s04-background2 {
    background: url('../src/s04-2.jpg') 0 -50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section04 .s04-contents .s04-background3 {
    background: url('../src/s04-3.jpg') 0 -50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section04 .s04-contents .s04-background4 {
    background: url('../src/s04-4.jpg') 0 -50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section04 .s04-contents .s04-title {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

#section04 .s04-contents .s04-title p {
    font-family: 'Cafe24Ssurround', sans-serif;
    font-size: 1.8rem;
    color: #fff;
}


#section04 .s04-contents .s04-go {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

#section04 .s04-contents .s04-go img {
    opacity: 70%;
}